<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Informacion" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Usuario" tabIcon="contacts"></ion-tab>
</ion-tabs>
