<ion-header>
  <ion-navbar>
    <ion-title>Crear Post Nuevo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h1 text-center> Ejemplo de crear un post</h1>

  <ion-list>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="model.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Body</ion-label>
      <ion-input type="text" name="body" [(ngModel)]="model.body"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button color="light-blue" round (click)="createPost()" item-end><ion-icon name="send"></ion-icon></button>

</ion-content>
