<ion-header>

  <ion-navbar>
    <ion-title>POST</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="bug"></ion-icon>
          </ion-avatar>
          <h2>Persona de Prueba</h2>
          <p>Marzo 12, 1991</p>
            <button ion-button color="primary" clear (click)="openEditPost(post.id)" item-end>
              <ion-icon name="create"></ion-icon>
               <div>Editar</div>
            </button>
            <button ion-button color="danger" clear (click)="deletePost(post.id)" item-end>
              <ion-icon name="trash"></ion-icon>
               <div>Eliminar</div>
            </button>
        </ion-item> 
  
        <ion-card-header>
          <p>{{ post.title }}</p>
        </ion-card-header>
  
        <ion-card-content (click)="openPost(post.id)">
          <p>{{ post.body }}</p>
        </ion-card-content>
  
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
  
      </ion-card>
</ion-content>
